.container{
    background: var(--Second-Blue);
    display: flex;
    flex-wrap: wrap;
    padding: 9rem 1rem 1rem;
    gap: 1.5rem;
    justify-content: center;
}

.card{
    background-color: #f0f0f0ff;
    width: 600px;
    padding: 1.2rem 1rem;
    border-radius: 8px;
    text-align: center;
}
.cardBody{
    font-size: 1.2rem;
}
.cardHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.botao{
    background-color: var(--Primary-Blue);
    color: #fff;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: 3px solid var(--Border-blue);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.7s;
}
.botao:hover{
    background-color: var(--Second-Blue);
}

@media only screen and (max-width: 767px) {
    .cardHeader{
        font-size: 0.8rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .container{
        padding: 8rem 1rem 3rem;
    }
}