.title {
    text-align: center;
    font-size: 2.5rem;
    background: var(--Primary-Blue);
    color: var(--Primary-Yellow);
    padding: 3rem 0 0 0;
}

.carrossel {
    display: flex;
    padding: 5rem 2rem;
    width: 100%;
    background: var(--Primary-Blue);
}

.card {
    border-radius: 10px;
    padding: 1rem 0;
    background: #f0f0f0ff;
    text-align: center;
    h4 {
        font-size: 2rem;
        width: 90%;
    }

    p {
        width: 80%;
        font-size: 1.3rem;
        margin: 2rem 0;
    }
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.mySwiper {
    --swiper-navigation-color: var(--Primary-Blue);
}

.botao {
    background: var(--Primary-Yellow);
    color: var(--Primary-Blue);
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 12px;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.7s;
}

.botao:hover {
    background: var(--Second-Yellow);
}

@media only screen and (max-width: 767px) {
    .title{
        font-size: 2rem;
    }
    .carrossel{
        padding: 3rem 1rem;
    }
    .card{
        h4{
            width: 80%;
        }
        p{
            width: 90%;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .title{
        font-size: 3rem;
    }
    .carrossel{
        padding: 3rem 2rem  ;
    }
    .card{
        h4{
            width: 80%;
        }
        p{
            width: 90%;
        }
    }
}