.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Primary-Blue);
    width: 100%;
    padding: 3rem;

    p {
        color: var( --Primary-Yellow);
        font-size: 1.5rem;
    }
}

.content {
    display: flex;
    gap: 0.8rem;

    svg {
        font-size: 4.5rem;
        color: #fff;
    }
}

@media only screen and (max-width: 768px) {
    .container{
        padding: 1.5rem;
        flex-direction: column;
        align-items: start;
        margin-top: 20rem;
        p{
            font-size: 1.2rem;
            text-align: center;
        }
    }
    .content{
        gap: 0.5rem;
        margin-bottom: 0.5rem;
        svg{
            font-size: 3rem;
        }
    }
}