.dialog {
    margin: auto;
    padding: 1rem 2rem;

    border: 3px solid var(--Border-blue);
    border-radius: 10px;

    background-color: #e0e0e0;

    width: 25%;
    transition: all 1.5s;

    &[open] {
        animation: fadeIn 0.5s forwards;

        &::backdrop {
            animation: backdropFadeIn 0.5s forwards;
        }
    }
}

.dialog:hover {
    width: 50%;
    padding: 2rem 4rem;
}
.dialog:active{
    scale: ();
}

.dialog::backdrop {
    background: var(--Primary-Blue);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    color: var(--Primary-Blue);
    font-size: 2rem;
    text-align: center;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--Primary-Blue);
}

.email {
    color: var(--Primary-Blue);
    font-weight: 700;
    font-size: 1.2rem;
}

.p1 {
    font-size: 1.2rem;
}
.p2{
    color: var(--Primary-Blue);
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.botao{
    background-color: var(--Primary-Blue);
    color: var(--Primary-Yellow);

    border: 3px solid var(--Border-blue);
    border-radius: 10px;
    padding: 1rem 0;
    font-size: 1.5rem;
    transition: all 0.7s;
    cursor: pointer;
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}
.botao:hover{
    background-color: var(--Second-Blue);
}

@media only screen and (max-width: 767px) {
    .dialog{
        width: 100%;
        padding: 1rem;

    }
    .dialog:hover{
        width: 100%;
        padding: 1rem;
    }
    .title{
        font-size: 1.5rem;
    }
    .p1, .email{
        font-size: 1rem;
    }
    .p2{
        font-size: 1.5rem;
    }
    .botao{
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .dialog{
        width: 80%;
        padding: 1rem;

    }
    .dialog:hover{
        width: 80%;
        padding: 1rem;
    }
    .title{
        font-size: 2.4rem;
    }
    .p1, .email{
        font-size: 1.4rem;
    }
    .p2{
        font-size: 2rem;
    }
    .head{
        svg{
            font-size: 2rem;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        translate: 0 -1em;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}


@keyframes backdropFadeIn {
    from {
        background: hsl(212, 100%, 17% / 0%);
    }

    to {
        background: hsl(212, 100%, 23% / 50%);
    }
}