*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
  --White: #fff;
  --Primary-Blue: #002855;
  --Second-Blue: #003776;
  --Border-blue: #00316ca4;
  --Primary-Yellow: #FFD700;
  --Second-Yellow: #FFC107;

}

